<div class="table-responsive table-container">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Conta de origem</th>
        <th scope="col">Conta de destino</th>
        <th scope="col">Valor transferido</th>
        <th scope="col">Valor da taxa aplicada</th>
        <th scope="col">Data de agendamento</th>
        <th scope="col">Data da transferencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transfer of transferData">
        <td>{{ transfer.originAccount }}</td>
        <td>{{ transfer.destinationAccount }}</td>
        <td>R$ {{ transfer.transferAmount }}</td>
        <td>R$ {{ transfer.fee }}</td>
        <td>{{ formatDate(transfer.schedulingDate) }}</td>
        <td>{{ formatDate(transfer.transferDate) }}</td>
      </tr>
    </tbody>
  </table>
</div>
